# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
backend/venv/

# Environment variables / secrets
.env
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Future frontend
frontend/node_modules/
frontend/dist/

# Python testing/cache
.pytest_cache/
.mypy_cache/

# Local databases
*.db
*.sqlite
*.sqlite3